<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="common/header :: common-header" />
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.10.1.min.js"></script>

<body roleId="page-top" data-spy="scroll"
	data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar" />

<div class="container main">
	<h2 style="text-align: center;">Error Occurred</h2>
	<hr>

	<div class="row" style="padding-top: 50px; padding-bottom: 100px">

		<img alt="" src="/images/error.jpg">

		<div style="text-align: center;">
			<h4>If you continue to receive this error please contact the
				development team.</h4>
		</div>
	</div>

</div>

<div th:replace="common/footer :: footer"></div>

<div th:replace="common/header :: body-bottom-scripts"></div>


</body>
</html>